:root {
    --verde: #33B0BE;
    --morado:#242635;
    --blanco:#eee3e3;
    --gris: #D1CECA;
  }
*{
    margin: 0;
    box-sizing: border-box;
}  
body {
	background-color: #fafafa;
	transition: background 0.2s linear;
}
body.dark {
	background: var(--morado);
}
.checkbox {
	opacity: 0;
	position: absolute;
}
.label {
	background-color: var(--verde);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}
.label .ball {
	background-image: url("./Portafolio/Imágenes/IMG-20220619-WA0067.jpg");
	background-size: 23px 40px;
	background-repeat: no-repeat;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #005eeb;
}

.fa-sun {
	color: #f39c12;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}