:root {
    --verde: #33B0BE;
    --morado:#242635;
    --blanco:#ffffff;
    --gris: #D1CECA;
  }
*{
    margin: 0;
    box-sizing: border-box;
}  
body {
	background-color: var(--morado);
}
.azul{
  border-radius: 40%;  
  background-color: var(--morado);
  color:var(--verde);
  padding: 10px;
}
.blanco{
  border-radius: 40%;  
  background-color: var(--blanco);
  color: var(--morado);
  padding: 10px;
}