:root {
  --verde: #33B0BE;
  --morado:#242635;
  --blanco:#fff;
  --gris: #D1CECA;
}
  .imagen {
    position: relative;
  }
  .imagen:hover .overlay {
    bottom: 0;
    height: 50%;
    width: 30%;
    border-radius: 10%;
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
   .over1 {
    bottom: 0;
    height: 100%;
    width: 75%; 
    border-radius: 10%;
  } 
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: var(--blanco);
    overflow: hidden;
    width: 20%;
    height: 0;
    transition: .5s ease;
  }
  .text {
    white-space: nowrap; 
    color: var(--verde);
    font-size: 15px;
    position: absolute;
    overflow: hidden;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .text-p{
   padding-left: 10%;
   padding-right: 10%;
  }
  .button1{
    color: var(--verde);
    background-color: var(--verde);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .button-top1{
   top: 70%;
  }
  .button-top2{
    top: 85%;
    background-color: var(--verde);

  }
  